{% extends "base.html" %}
{% block title %}
Home
{% endblock title %}

{% block content %}
<h1 class="text-center">Our doctors</h1>
<hr>
{% for d in doc %}
<div  class="container text-center bg-light">
    
    <div class="card text-center" style="width: 18rem; display: inline-block;">
        <img src="{{d.doc_image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr.{{d.doc_name}}</h5>
          <p class="card-text">{{d.doc_spec}}</p>
          <h5 class="card-text">{{d.dep_name}}</h5>

        </div>
      </div>
    <p></p>
</div>
{% endfor%}
{% endblock content %}